body,
div,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  /* border-bottom: 1px solid var(--hint_color); */
}

:root {
  --top_zIndex: 3;
  --mid_zIndex: 2;
  --grey: 32, 33, 36;
  --font_color: rgb(var(--grey));
  --hint_color: rgba(var(--grey), 0.1);
  --bg_color: #f6f6f6;
  --radius: 4px;
  --line_height: 2.5;
  --main_color: #66a9e5;
  --second_color: #f45c01;
  --btn_line_height: 3.25;
  --btn_font_size: 16px;
  --btn_height: calc(var(--btn_line_height) * var(--btn_font_size));
  --btn_radius: calc(var(--btn_height) / 4);
  --card_shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  --btn_normal_shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --btn_active_shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 5px 10px 1px rgb(0 0 0 / 14%), 0px 3px 8px 2px rgb(0 0 0 / 12%);
}

.base {
  text-align: center;
  cursor: pointer;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  color: var(--font_color);
  background: var(--bg_color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif,
    'Segoe UI', Roboto;
}

.nav {
  position: sticky;
  z-index: var(--top_zIndex);
  top: 0;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.4s;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 3;
  text-indent: 16px;
  color: var(--main_color);
}

.shadow {
  box-shadow: var(--card_shadow);
}

.title span {
  font-weight: 600;
  color: var(--second_color);
}

.total {
  display: none;
  line-height: 60px;
  text-align: right;
}

.list {
  font-size: 24px;
  background: -webkit-linear-gradient(
    270deg,
    var(--second_color) 8%,
    var(--main_color) 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#list:empty::after {
  font-size: 24px;
  display: block;
  line-height: var(--line_height);
  content: '👀';
  text-align: center;
}

.info {
  padding-left: 32px;
  /* scroll-snap-align: end; */
}

.timeTitle {
  display: inline-block;
  border-radius: var(--radius);
  background: darkseagreen;
  padding: 4px 10px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 16px;
  /* scroll-snap-align: end; */
}

.timeItem {
  height: auto;
  line-height: var(--line_height);
  scroll-snap-align: end;
}

input[type='checkbox'] {
  display: none;
}

input:checked + ul {
  animation: g 0.2s ease-out forwards;
}

@keyframes g {
  0% {
    height: 80px;
  }
  50% {
    height: 60px;
  }
  95% {
    height: 1px;
  }
  100% {
    height: 0;
    top: -10000px;
    position: absolute;
  }
}

#drinkBtn {
  position: fixed;
  z-index: var(--top_zIndex);
  bottom: 24px;
  right: 24px;
  --btn_width: min(140px, 32vw);
  line-height: var(--btn_line_height);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--main_color);
  width: var(--btn_width);
  border-radius: var(--btn_radius);
  overflow: hidden;
  transition: box-shadow 0.1s;
  box-shadow: var(--btn_normal_shadow);
  -webkit-tap-highlight-color: transparent;
}

#drinkBtn:active {
  box-shadow: var(--btn_active_shadow);
}

#drinkBtn:active::before {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0.3;
  transition: none;
}

#drinkBtn::before {
  content: '';
  display: block;
  width: max(var(--btn_height), var(--btn_width));
  height: max(var(--btn_height), var(--btn_width));
  background: #fff;
  position: absolute;
  left: var(--x, 0);
  top: var(--y, 0);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(2);
  transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.7s;
  opacity: 0;
}
