body,
div,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  --grey: 32, 33, 36;
  --font_color: rgb(var(--grey));
  --hint_color: rgba(var(--grey), 0.6);
  /* --bg_color: #fff4f2; */
  --bg_color: #f6f6f6;
  --title_height: 60px;
  --line_height: 2.2;
  --main_color: #66a9e5;
  --second_color: #f45c01;
  --btn_height: 44px;
  --card_shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  --btn_normal_shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  --btn_active_shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 5px 10px 1px rgb(0 0 0 / 14%), 0px 3px 8px 2px rgb(0 0 0 / 12%);
  --radius: 4px;
  --banner_height: 60px;
}

.base {
  text-align: center;
  cursor: pointer;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--font_color);
  background: var(--bg_color);
}

.nav {
  width: 100%;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  height: var(--title_height);
  line-height: var(--title_height);
  box-shadow: var(--card_shadow);
  padding: 0 16px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--main_color);
}

.title span {
  color: var(--second_color);
}

#banner {
  /* display: none; */
  margin: 0 4px;
  width: calc(100vw - 8px);
  height: var(--banner_height);
  line-height: var(--banner_height);
  color: var(--hint_color);
  top: var(--title_height);

  border-bottom: 1px solid rgba(var(--grey), 0.2);
}

/* #content {
  max-height: 100vh;
  padding-top: var(--title_height);
  overflow-y: auto;
} */

#list {
  display: flex;
  flex-direction: column-reverse;
  font-size: 24px;
  background: -webkit-linear-gradient(
    270deg,
    var(--second_color) 8%,
    var(--main_color) 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#list:empty::after {
  line-height: var(--line_height);
  content: '今天还没有吨吨吨';
  text-align: center;
}

.timeItem {
  text-indent: 32px;
  line-height: var(--line_height);
}

#drinkBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  --btn_width: 160px;
  height: var(--btn_height);
  line-height: var(--btn_height);
  font-size: 18px;
  background-color: var(--main_color);
  width: var(--btn_width);
  border-radius: var(--radius);
  overflow: hidden;
  transition: box-shadow 0.1s;
  box-shadow: var(--btn_normal_shadow);
}

#drinkBtn:active {
  box-shadow: var(--btn_active_shadow);
}

#drinkBtn:active::after {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0.3;
  transition: none;
}

#drinkBtn::after {
  content: '';
  display: block;
  width: max(var(--btn_height), var(--btn_width));
  height: max(var(--btn_height), var(--btn_width));
  background: #fff;
  position: absolute;
  left: var(--x, 0);
  top: var(--y, 0);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(2);
  transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.7s;
  opacity: 0;
}
